<h2><%= @block[ 'name' ] %> block</h2>

Desc: <%= @block[ 'desc' ] %><br><br>

<table>
<th>
  <td>Label</td>
  <td>Pretag</td>
  <td>Signal</td>
  <td>Connector</td>
</th>
<% @block[ 'attributes' ].each do |attrib| %>
<tr>
<td></td>
<td><%= attrib[ 'label' ] %></td>
<td><%= attrib[ 'pretag' ] %></td>
<td><%= attrib[ 'signal' ] %></td>
<td><%= attrib[ 'connector' ] %></td>
</tr>
<% end %>
</table>
