<h2><%= @block[ 'name' ] %> block</h2>

Desc: <%= @block[ 'desc' ] %><br><br>

<table>
<th>
  <td>Tag</td>
  <td>Value</td>
  <td>Signal</td>
  <td>Connector</td>
</th>
<% @block[ 'attributes' ].each do |attrib| %>
<tr>
<td></td>
<td><%= attrib[ 'tag' ] %></td>
<td><%= attrib[ 'value' ] %></td>
<td><%= attrib[ 'signal' ] %></td>
<td><%= attrib[ 'connector' ] %></td>
</tr>
<% end %>
</table>
<br>
UUID: <%= @block[ 'uuid' ] %>
