Project: <%= @project[ 'name' ]%><br><br>

<form action="/" method="POST">
<input type="hidden" name="name" value="<%= @project[ 'name' ]%>">
<input type="hidden" name="overwrite" value="true">
Package &amp; Block List (in drawing order)<br>
<textarea name="list" rows="15" cols="40">
<%= @project[ 'list' ].map{ |i| i[ 'display' ] }.join( "\r\n" ) %>
</textarea><br>

<input type="submit" value="Submit">

</form>

<a href="/projects/<%= @project[ 'name' ] %>/blocks.csv">Project Blocks CSV</a><br>
<a href="/projects">All projects</a>

<%= erb :_list_item_index %>
